{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

 <!-- Head Section -->
            <section class="small-section bg-dark-lighter">
                <div class="relative container align-left">
                    
                    <div class="row">
                        
                        <div class="col-md-8">
                            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">About Us</h1>
                            <div class="hs-line-4 font-alt">
                                Extraordinary team 
                            </div>
                        </div>
                        
                        <div class="col-md-4 mt-30">
                            <div class="mod-breadcrumbs font-alt align-right">
                                <a href="{% url 'home' %}">Home</a>&nbsp;/&nbsp;<span>About Us</span>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Head Section -->
            
            
            <!-- About Section -->
            <section class="page-section" id="about">
                <div class="container relative">
                    
                    <div class="section-text mb-60 mb-sm-40">
                        <div class="row">
                            
                            <div class="col-sm-6 mb-sm-50 mb-xs-30">
                                
                                <h4 class="mt-0 font-alt">Who we are?</h4>
                                
                                <p>
                                    We are a team of sutdents and professors at Ozyegin University and our field of interest is 
                                    Computer Science. 
                                </p>

                            </div>
                            
                         
                            
                        </div>
                    </div>
                    
                    
               
                    
                    
                    <!-- Team -->
                    <div class="row multi-columns-row">
                        
                        <!-- Team Item -->
                        <div class="col-sm-6 col-md-3 col-lg-3 mb-sm-30 wow fadeInUp">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="{% static 'img/IMG_7721.JPG' %}" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">Hello & Welcome!</h4>
                                        
                                        <p>
                                            You can follow me on facebook or twitter by clicking on the links below
                                        </p>
                                        
                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                       Ammar Khan 
                                    </div>
                                    
                                    <div class="team-item-role">
                                        Project Devloper
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team Item -->
                        
                        <!-- Team Item -->
                        <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="{% static 'img/reyyan.jpeg' %}" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">Nice to meet!</h4>
                                        
                                        <p>
                                           You can follow me on facebook or twitter by clicking on the links below
                                        </p>
                                        
                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Reyyan Yeniterzi
                                    </div>
                                    
                                    <div class="team-item-role">
                                        Project Advisor
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team Item -->
                        
                        <!-- Team Item -->
                        <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="{% static 'img/cenkd.JPG' %}" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">Whats Up!</h4>
                                        
                                        <p>
                                            You can follow me on facebook or twitter by clicking on the links below 
                                        </p>
                                        
                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Cenk Demiroğlu
                                    </div>
                                    
                                    <div class="team-item-role">
                                        Project Advisor
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team Item -->
                        
                       
                        
                    </div>
                    <!-- End Team -->
                    
                
                </div>
            </section>
            <!-- End About Section -->
            
            
           
            
            
           
            
            
            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->
            
            
            <!-- Story Section -->
            <section class="page-section" style="background: gainsboro">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Our Story
                    </h2>                    
                    
                    <!-- Our Story -->
                    <div class="row">
                        
                        <!-- Col -->
                        
                        <div class="col-sm-8 col-sm-offset-2">
                            
                            <!-- Nav Tabs -->
                            <div class="align-center mb-40 mb-xxs-30">
                                <ul class="nav nav-tabs tpl-minimal-tabs animate">
                                    
                                    <li class="active">
                                        <a href="#mini-one" data-toggle="tab">Mission</a>
                                    </li>
                                    
                                
                                    <li>
                                        <a href="#mini-three" data-toggle="tab">Ideas</a>
                                    </li>
                                    
                                </ul>
                            </div>
                            <!-- End Nav Tabs -->
							
                            <!-- Tab panes -->
                            <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                                
                                <div class="tab-pane fade in active" id="mini-one">
                                    Our mission is to build an automated depression assessment tool which analyses the user
                                    input in different ways. Currently, there are only websites which ask users 5-6 multiple
                                    choice questions and then tell them there score. We want to do much more than that.
                                   
                                </div>
                                
                     
                                
                
                                <div class="tab-pane fade" id="mini-three">
                                    We want to give the user freedom to asnwer a question in different ways and not just 
                                    multiple choice questions. Currently we process the user input text and score them.
                                    Later on we also want to include features like speech recognition and give users an open
                                    choice, how they would like to answer their question.
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <!-- End Col -->                        
                        
                    </div>
                    <!-- End Story -->
                    
                </div>
            </section>
            <!-- End Story Section -->
            
        
            
            
           
        
        
        </div>
        <!-- End Page Wrap -->
        
        


{% endblock %}