
<!-- 
{% if instance.question_type == 'text_input' %}

<form method='POST' action='{% url "question_single" id=instance.id%}' > {% csrf_token %}

<h1>{{ instance.text }}</h1>

<input type='hidden' name='question_id' value='{{ instance.id }}' />

<h3>Your answer</h3>

   {{ form2.my_answer.errors }}
	{{ form2.my_answer }}




<input type='submit' value='Save and continue' />

<input type='hidden' name='form1' />
</form>



{% else %}


<form method='POST' action='{% url "question_single" id=instance.id%}' > {% csrf_token %}
{{ form.errors }}
<h1>{{ instance.text }}</h1>

<input type='hidden' name='question_id' value='{{ instance.id }}' />

<h3>Your answer</h3>
{% for ans in instance.answer_set.all %}


<input type='radio' name='answer_id' value='{{ ans.id }}' {% if user_answer.my_answer.id == ans.id %}checked=checked{% endif %} /> {{ ans.text }} <br/>

{% endfor %}



<! <label for="id_answer_text">Answer text:</label>
<input id="id_answer_text" name="answer_text" type="text"> -->
<!-- 
<br/>



<input type='submit' value='Save and continue' />

<input type='hidden' name='form1' />
</form>


{% endif %}
 --> <!-- -->




  
              <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item">
                                
                                <!-- Date -->
                                <div class="blog-item-date">
                                    <!-- <span class="date-num">05</span>Feb -->
                                </div>
                                

                                {% if instance.question_type == 'text_input' %}
                                <!-- Post Title -->
                                <h2 class="blog-item-title font-alt"><a href="blog-single-sidebar-right.html">{{instance.text}}</a></h2>
                                
                                                        
                                <!-- Text Intro -->
                                <div class="blog-item-body">
                                  

                               <form method='POST' action='{% url "question_single" id=instance.id%}' > {% csrf_token %}

							

									<input type='hidden' name='question_id' value='{{ instance.id }}' />

								<h3>Your answer</h3>

							   {{ form2.my_answer.errors }}
								{{ form2.my_answer }}


								 <div class="mb-10">

                                
                            </div>

                            


							<input type='submit' value='Save and continue'  class="btn btn-mod btn-circle btn-large"/>

							<input type='hidden' name='form1' />
							</form>

                                </div>


                                {% else %}




                                      <!-- Post Title -->
                                <h2 class="blog-item-title font-alt"><a href="blog-single-sidebar-right.html">{{instance.text}}</a></h2>
                                
                                                        
                                <!-- Text Intro -->
                                <div class="blog-item-body">
                                  

                              <form method='POST' action='{% url "question_single" id=instance.id%}' > {% csrf_token %}
								{{ form.errors }}
							

								<input type='hidden' name='question_id' value='{{ instance.id }}' />

								<h3>Your answer</h3>
								{% for ans in instance.answer_set.all %}


								<input type='radio' name='answer_id' value='{{ ans.id }}' {% if user_answer.my_answer.id == ans.id %}checked=checked{% endif %} /> {{ ans.text }} <br/>

								{% endfor %}


								<br/>



								<input type='submit' value='Save and continue' class="btn btn-mod btn-circle btn-large" />

								<input type='hidden' name='form1' />
								</form>



                                </div>
                                    
                           {% endif %}
                             
                                
                            </div>
                            <!-- End Post -->
                            
                           
                           
                        
                       
                            
                        
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->